<div id="navbarcontainer">
    <nav id="navlinks">
        <a id="navhome" class="navlink" href="/html/Dashboard.html">Home</a>
        <a id="navprofile" class="navlink" href="/html/Profile.html">Profile</a>
        <a id="navincidents" class="navlink" href="/html/Incidents.html">Incidents</a>
    </nav>

    <div id="navcomms">
        <a id="navassignments" href="/html/Assignments.html">Assignments</a>
    </div>
    <p id="navname"></p>
    <button id="navlogout">Log out</button>
    <script src="/js/logout.js"></script>
</div>
